# Ignore node_modules directory
node_modules/

# Ignore .env files that store environment variables
.env

# Ignore development server logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore coverage reports
coverage/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Visual Studio Code settings
.vscode/

# Ignore WebStorm settings
.idea/

# Ignore cache and temp files
.nyc_output/
node_modules
**/.tmp
**/.cache

# Ignore logs
*.log

# Ignore production-ready build artifacts
build/
dist/
